<div class="card mb-3 mt-1">
    <div class="card-body">
        <input type="text" class="form-control" id="search" placeholder="Tìm kiếm">
    </div>
</div>
<!-- accoradian đàn xếp -->                    
<div class="card mb-3 mt-3">
    <img src="accset/images/jsnangcao.png" class="card-img-top img-thumbnail" alt="">
    <div class="card-body">
        <h5 class="card-title">JavaScrip</h5>
        <p class="card-text">Lập trình JavaScrip nâng caocao</p>
        <a href="#" class="btn btn-danger">Thi thu</a>
        <a href="#" class="btn btn-secondary">xem chi tiet</a>
    </div>
</div>

<div class="card mb-3">
    <img src="accset/images/jscoban.png" class="card-img-top img-thumbnail" alt="">
    <div class="card-body">
        <h5 class="card-title">JavaScrip</h5>
        <p class="card-text">Lập trình JavaScrip cơ bản</p>
        <a href="#" class="btn btn-danger">Thi thu</a>
        <a href="#" class="btn btn-secondary">xem chi tiet</a>
    </div>
</div>