<div id="carouselMainSlider" class="carousel slide mb-3 mt-1" data-bs-ride="carousel">
    <!-- data-bs-ride="carousel" gắn vào tự chuyển -->
    <div class="carousel-inner" data-bs-interval="500">
        <div class="carousel-item carousel-item-next carousel-item-start" data-bs-interval="500">
            <!-- data-bs-interval="3000" thời gian chạy -->
            <img src="accset/images/1900x750.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item active carousel-item-start">
            <img src="accset/images/fpt-polytechnic-dan-sao-4.png" class="d-block w-100" alt="...">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMainSlider"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMainSlider"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselMainSlider" data-bs-slide-to="0"
            class="active" aria-label="Slide 1" aria-current="true"></button>
        <button type="button" data-bs-target="#carouselMainSlider" data-bs-slide-to="1"
            aria-label="Slide 2" class=""></button>
    </div>
</div>