<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark " data-bs-theme="dark">
    <div class="logo py-1">                 
            <img src="accset/images/logo.png" alt="">                   
    </div>
    <div class="container-fluid">                    
        <div class="collapse navbar-collapse" id="primaryMenu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#!/#">
                        <i class="bi bi-house-add"></i>
                        Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!gioiThieu">
                        <i class="bi bi-justify"></i>
                        Giới thiệu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!danhSachMonHoc">
                        <i class="bi bi-journal-richtext"></i>
                        Danh sách môn học
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!baiViet">
                        <i class="bi bi-journals"></i>
                        Bài viết
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!lienHe">
                        <i class="bi bi-telephone-outbound"></i>
                        Liên hệ
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-check"></i>
                        Tài khoản
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="dangNhap.html">Đăng nhập</a> </li>
                        <li><a class="dropdown-item" href="quenMatKhau.html">Quên mật khẩu</a></li>
                        <li><a class="dropdown-item" href="dangKy.html">Đăng ký</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                        <li><a class="dropdown-item" href="#">Đổi mật khẩu</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Tiếng Việt
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        English
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>