<!DOCTYPE html>
<html lang="en" ng-app="ASMPC04188HTML">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">

    <script src="accset/js/vendor/angular.min.js"></script>

    <script src="accset/js/vendor/angular-route.js"></script>

    <script src="accset/js/app/app.js"></script>

    <style>
        .error-input {
            color: red;
        }
    </style>

</head>

<body class="bg-info-subtle" ng-controller="listProduct1">
    <div class="container col-lg-4">
        <div class="card mb-3 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="bg-white p-2 text-center">ĐĂNG NHẬP</h2>
                </div>
            </div>
            <div class="card-body">
                <form class="form" name="frm">
                    <div class="mb-3 form-group">
                        <label>Username</label>
                        <input type="text" required class="form-control" ng-model="username" id="username"
                            placeholder="Tên đăng nhập" name="username">
                        <span class="error-input" ng-show="frm.username.$invalid">Tên đăng nhập không được để
                            trống</span>
                    </div>
                    <div class="mb-3 form-group">
                        <label>Password</label>
                        <input type="password" required class="form-control" ng-model="password"
                            placeholder="Nhập mật khẩu" id="password" name="password">
                        <span class="error-input" ng-show="frm.password.$invalid">Mật khẩu không được để trống</span>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary" ng-click="dangnhap()">Đăng nhập</button>
                        <a href="quenMatKhau.html" class="btn btn-primary">Quên mật khẩu?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>